---
layout: default
---

<div class="meta" align="center">  
  tags:
    {% for t in page.tags %}
    <a href='http://www.google.com/search?q={{ t | escape }}+site:bitcrafters.com.br'>{{ t }}</a>
    {% if forloop.last == false %}, {% endif %}
    {% endfor %}
</div>

{{ content }}

<div class="details">
  &mdash; {{ page.byline }} on {{ page.date | date_to_long_string }} 
  &bull; <a href="http://danny.bitcrafters.com.br{{ page.url }}">Permalink</a></p> 
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="clear"></div>
